<section> <!-- style="background-color: #eee;" -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ nomeUsuarioCompleto }}</h5>
                        <p class="text-muted mb-1">{{ profissao }}</p>
                        <p class="text-muted mb-4">{{ endereco }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a type="button" href="https://github.com/diegomontania" target="_blank" class="btn btn-primary">Follow-me on Github!</a> 
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Ferramentas utilizadas no projeto</p>                                
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="https://nodejs.org/en/" target="_blank" class="mb-0">Node JS</a>
                                <i i-bs name="globe" style="color: #55acee;"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="https://angular.io/" target="_blank" class="mb-0">Angular 14.2.3</a>
                                <i i-bs name="globe" style="color: #55acee;"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="https://valor-software.com/ngx-bootstrap/#/" target="_blank" class="mb-0">Ngx-bootstrap</a>
                                <i i-bs name="globe" style="color: #55acee;"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="https://github.com/avmaisak/ngx-bootstrap-icons" target="_blank" class="mb-0">Ngx-bootstrap-icons</a>
                                <i i-bs name="globe" style="color: #55acee;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nome Completo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"> {{ nomeUsuarioCompleto }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Idade</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"> {{ idade }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefone-Fixo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ telefoneFixo }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Celular</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ telefoneCelular }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ endereco }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="mb-3"><span class="text-primary font-italic me-1">Assigment</span> Project Status</p>
                        
                        <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                            <div class="progress rounded mb-2" style="height: 5px;"> <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
