<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- utilizando routerlink para ir para uma pagina sem recarregar pagina -->
    <!-- nao dando 'postback' na pagina, utilizando SPA de fato -->
    <!-- utilizando routerLinkActive="active" para deixar destacado quando estiver na pag da rota atual -->
    <a routerLink="home" routerLinkActive="active" class="navbar-brand">GreatSchool</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      
      <!-- primeira navbar -->
      <!-- utilizando classe 'me-auto' margem-right automatico, 
      para que esa nav bar ocupe todo o espaço da tela, deixando apenas um espaço menor para 'segunda navbar' -->
      <ul class="navbar-nav me-auto">
        <!-- alunos -->
        <li class="nav-item">
          <a routerLink="alunos" routerLinkActive="active" class="nav-link">Alunos</a>
        </li>
        <!-- professores -->
        <li class="nav-item">
          <a routerLink="professores" routerLinkActive="active" class="nav-link">Professores</a>
        </li>
      </ul>
       
      <!-- segunda navbar do dropdown -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle dropdown-menu-right" dropdownToggle id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Diego
          </a>
          <ul class="dropdown-menu dropdown-menu-end" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- perfi -->
            <li><a class="dropdown-item" routerLink="perfil">Perfil</a></li>
            <li><a class="dropdown-item" routerLink="anotacoes">Anotações</a></li>
            <li><a class="dropdown-item" routerLink="">Sair</a></li>
          </ul>
        </li>
      </ul>
      
    </div>

  </div>
</nav>