<h2 style="padding-top: 15px;">Formulário cadastro</h2>

<form [formGroup]="formularioCadastroAluno" (submit)="CriarNovoAluno()">

    <!-- vinculando inputs as propriedade da classe 'cliente' para que as informacoes sejam enviadas para a api -->
    <fieldset>
        <div class="row g-3">
            <!-- nome -->
            <div class="col-sm-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="Nome" required="">
                <div class="invalid-feedback">
                    Nome is required.
                </div>
            </div>
            <!-- sobrenome -->
            <div class="col-sm-6">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" formControlName="sobrenome" placeholder="Sobrenome" required="">
                <div class="invalid-feedback">
                    Sobrenome is required.
                </div>
            </div>
            <!-- email -->
            <div class="col-sm-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email" required="" [email]="true">
                <div class="invalid-feedback">
                    Email is required.
                </div>
            </div>
            <!-- telefone -->
            <div class="col-sm-6">
                <label for="telefone" class="form-label">Telefone</label>
                <!-- https://pt.stackoverflow.com/a/453697/200879 -->
                <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone com DDD : Ex (21) 99999-8888" required="" mask="(00) 0000-0000 || (00) 00000-0000">
                <div class="invalid-feedback">
                    Telefone is required.
                </div>
            </div>
            <!-- estado -->
            <div class="col-6">
                <label for="estado" class="form-label">Estado</label> 
                <input type="text" class="form-control" formControlName="estado" placeholder="Estado">
                <div class="invalid-feedback">
                    Estado is required.
                </div>
            </div>
            <!-- Matricula -->
            <div class="col-6">
                <label for="estado" class="form-label">Data Matricula</label>
                <input type="text" class="form-control" formControlName="dataMatricula" placeholder="Data Matricula" bsDatepicker [daysDisabled]="[6,0]" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
                <div class="invalid-feedback">
                    Matricula is required.
                </div>
            </div>
        </div>
        
        <!-- chama funcao Salvar que requisita a api e deixa o botao desabilitado se a propriedade 'nome' estiver vazia -->
        <button class="btn btn-success" style="margin-top: 10px" [disabled]="!formularioCadastroAluno.valid" type="submit">Salvar</button>
    </fieldset>
</form>